{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>FilmyWEB - {% block page_title %} {% endblock %}</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1 maximum-scale=1 minimum-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">  
    <script src="https://kit.fontawesome.com/08e467a7ca.js" crossorigin="anonymous"></script>

</head>

<body>

<main class="container">
{% block page_content %} {% endblock %}
</main>

<footer class="panel-footer text-center">
    <p>Created by Michał Mytych</p>
    <p>2020</p>
</footer>

</body>

</html>