{% extends 'base.html'%}
{% load bootstrap %}

{% block page_title %}Edytowanie filmu{% endblock %}
{% block page_content %}

  <a href="/movies/all" class="btn btn-primary">Wróć <i class="fas fa-arrow-left"></i></a>

  <h2 style="margin-top: 2rem">Dodaj nowy film:</h2>

  <form style="margin-top: 2rem" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form|bootstrap }}
        {{ extra_form|bootstrap }}

        <button class="btn btn-success" type="submit">Zapisz <i class="fas fa-save"></i></button>
  </form>

  <h4 style="margin-top: 2rem">Oceń film:</h4>
  <form style="margin-top: 2rem" method="post">

        {% csrf_token %}
        {{ review_form|bootstrap }}

        <button class="btn btn-success" type="submit">Wyślij<i class="fas fa-save"></i></button>
  </form>

  {% for review in reviews %}
      <h4 style="margin-top: 2rem">Ocena: {{ review.stars }}</h4>
      <p>{{ review.text_review }}
      {% endfor %}

  {% endblock %}
