body{
    padding: 1rem 2rem 3rem 2rem;
    background-color: azure;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p{
    font-family: 'Roboto', sans-serif;
}

.poster{
    max-width: 200px;
}